<div class="main-wrapper">
  <h1><span><span class="important">Notre</span> travail</span>
    <div id="top-bar"></div>
  </h1>
  <div id="timeline">
    <div id="timeline-bar"></div><!---->
    <div class="timelinewrap left-side">
      <div class="timeline-box-wrap">
        <div class="timeline-box"><span
          class="arrow"></span><span
          class="dot"></span>
          <div class="date">2020</div>
          <h3>La rencontre</h3>
          <p class="p-clear">C’est en 2020 que Jérémy a contacté Kilian pour la première fois pour un coaching.
            Au fur et à mesure du temps, ils se sont liés d’amitié et on vaguement abordé un projet commun : la
            fabrication de matériel de musculation.</p></div>
      </div>
    </div>
    <div class="timelinewrap right-side">
      <div class="timeline-box-wrap">
        <div class="timeline-box"><span
          class="arrow"></span><span
          class="dot"></span>
          <div class="date">Avril 2021</div>
          <h3>Début de l’aventure</h3>
          <p class="p-clear">C’est début 2021 que le projet d’Atelier du Muscle commence à naitre progressivement avec
            l’achat
            de matériel de soudage et les premières discussion de conception.</p></div>
      </div>
    </div>
    <div class="timelinewrap left-side">
      <div class="timeline-box-wrap">
        <div class="timeline-box"><span
          class="arrow"></span><span
          class="dot"></span>
          <div class="date">Février 2022</div>
          <h3>Fabrication du premier prototype de Belt squat</h3>
          <p class="p-clear">Après de longues analyses et de réflexions de conception, la fabrication du premier
            prototype
            de belt
            squat commence.
          </p>
          <img src="assets/images/work1.jpg" alt="">
        </div>
      </div>
    </div>
    <div class="timelinewrap right-side">
      <div class="timeline-box-wrap">
        <div class="timeline-box"><span
          class="arrow"></span><span
          class="dot"></span>
          <div class="date">Mars 2022</div>
          <h3>Le début des essais</h3>
          <p class="p-clear">Les tests pour le premier prototype de belt squat commence.
            L’objectif constater tous les points positifs en négatifs afin d’optimiser le modèle au maximum.s</p>

          <img src="assets/images/work2.jpg" alt="">
        </div>
      </div>
    </div>
    <div class="timelinewrap left-side">
      <div class="timeline-box-wrap">
        <div class="timeline-box"><span
          class="arrow"></span><span
          class="dot"></span>
          <div class="date">Avril 2022</div>
          <h3>Début des réflexions pour la ceinture de belt squat</h3>
          <p class="p-clear">En parallèle de la fabrication du belt squat, recherche pour créer une ceinture très
            résistante
            permettant de réaliser le belt squat sans douleur de compression ou de cisaillement.</p></div>
      </div>
    </div>
    <div class="timelinewrap right-side">
      <div class="timeline-box-wrap">
        <div class="timeline-box"><span
          class="arrow"></span><span
          class="dot"></span>
          <div class="date">Juillet 2022</div>
          <h3>Finalisation des optimisations</h3>
          <p class="p-clear">Début des tests des dernières optimisations sur le belt squat</p></div>
      </div>
    </div>
    <div class="timelinewrap left-side">
      <div class="timeline-box-wrap">
        <div class="timeline-box"><span
          class="arrow"></span><span
          class="dot"></span>
          <div class="date">Août 2022</div>
          <h3>Finalisation du prototype de ceinture</h3>
          <p class="p-clear">Le prototype de ceinture pour belt squat est enfin terminé et peut être testé !</p></div>
      </div>
    </div>
    <div class="timelinewrap right-side">
      <div class="timeline-box-wrap">
        <div class="timeline-box"><span
          class="arrow"></span><span
          class="dot"></span>
          <div class="date">13 Octobre 2022</div>
          <h3>Sortie officielle de l’Atelier du Muscle!</h3>
          <p class="p-clear">Sortie officielle de l’Atelier du Muscle!</p></div>
      </div>
    </div>
    <div class="timelinewrap left-side">
      <div class="timeline-box-wrap">
        <div class="timeline-box"><span
          class="arrow"></span><span
          class="dot"></span>
          <div class="date">Décembre 2022</div>
          <h3>Envoie des premières commandes</h3>
          <p class="p-clear">Après plusieurs semaines de fabrication les premières commandes peuvent partir!</p></div>
      </div>
    </div>
    <div class="timelinewrap right-side">
      <div class="timeline-box-wrap">
        <div class="timeline-box"><span
          class="arrow"></span><span
          class="dot"></span>
          <div class="date">21 Février 2023</div>
          <h3>Sortie du Belt Squat V2</h3>
          <p class="p-clear">Epis de chargement en inox et thermolaquage intégral au menu!</p>

          <img src="assets/images/work3.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
