<div id="who-we-are-anchor" class="who-we-are min-height" (window:resize)="setTriangle()">
  <div class="top-banner">
    <div class="triangle" [style.border-left]="borderTriangle"></div>
  </div>
  <div class="who-we-are-content">
    <div class="section-subtitle">Qui sommes-nous?</div>
    <!-- <div class="big-picture">
     </div>-->
    <div class="top-pict">
      <div class="wwa-image">
        <div class="wwa-collage-image">
          <div class="wwa-collage-image-title">Kilian et Jérémy</div>
          <div class="woimg"></div>
        </div>
      </div>
      <div class="wwa-big-title">
        <h2>L’association d’un professionnel de la <span class="important">musculation</span>
        et d’un <span class="important">ingénieur</span> pour créer ce qu’il y a de plus <span
          class="important">pertinent</span> pour les pratiquants de musculation.</h2>

      </div>
    </div>
    <div class="contenu">
      <div class="explaination">
        <div class="petite-desc">
          <span class="h3">Kilian Hagen coach et diététicien</span>
          <p>Kilian est pratiquant de musculation depuis plus de 10 ans.<br/>
            Il a toujours cherché à améliorer ses connaissances afin d’optimiser sa progression.<br/>
            Il s’est très rapidement intéressé au matériel de musculation car il s’est entrainé la majorité du temps
            en home gym.<br/>
          </p>
        </div>
        <div class="petite-desc">
          <span class="h3">Jérémy Gauthier ingénieur et soudeur</span>
          <p>Jérémy travaille dans les industries de l'aéronautique et de la Défense depuis 10 ans.<br />
            Il est passionné par la construction, les machines, la conception et l'artisanat depuis toujours.<br />
            Passionné de sports depuis longtemps également (sports de combat et sports mécaniques), il a créé son propre home gym chez lui.</p>
        </div>
      </div>
      <div class="petite-desc both">
        <p>
          Ayant tous 2 leur home gym, ils se sont rapidement rendu compte des choses qu’ils pouvaient améliorer par
          rapport au matériel proposé.
          Ensemble, ils ont associé leurs expertises afin de créer l’Atelier Du Muscle.
          L’objectif est de permettre aux gens de s’entrainer de façon efficace avec du matériel de qualité et conçu
          de façon intelligente.
        </p>
      </div>
    </div>
  </div>
</div>
