:host {
  width: 100%;
  padding: 1rem;
}

.loading-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .loading {
    border: 1px solid var(--theme-ee);
    gap: 15px;
    display: flex;
    flex-direction: row;
    background: var(--theme-white);
    height: 40px;
    align-items: center;
    text-transform: uppercase;
    color: var(--theme-label-text);
    font-size: 13px;
    padding: 20px;

    i {
      width: 25px;
      height: 25px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 18px;
      color: var(--theme-primary)
    }
  }
}