
#products-header {
  margin-top: -100px;
  margin-bottom:150px;
  position: relative;
  display: flex;
  flex-direction: row;

  #left {
    flex: 1;
    background: #2D2D32;
    margin-bottom: -150px;
    position: relative;
  }

  #right {
    flex: 2;
    background: var(--theme-standard-bg);

    .picture {
      height: 500px;
      border:1px solid red;
      background: url("../../../assets/images/contact_2.jpg") center center no-repeat;
    }
  }
}

.horizontal-subtitle {
  position: absolute;
  left: -175px;
  top: 50%;
}

.horizontal-subtitle span {
  position: absolute;
  left: 0;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 60px;
  letter-spacing: 6px;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  color: rgba(255, 255, 255, 0.11);
  top: 0;
  white-space: nowrap;
}

.content {
  position: absolute;
  top: 40%;
  left: 20%;
  right: 20%;
  font-size: 15px;
  z-index: 3;
  color: rgba(255, 255, 255, 0.71);
  font-weight: 500;
  background: rgba(20, 20, 20, 0.7);
  padding: 15px 85px 15px 55px;
}

.btn {
  margin: 1.5rem;
  padding: 15px 30px;
  position: relative;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 4px;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  text-transform: uppercase;
  border-radius: 4px;
  text-shadow: 1px 1px 2px rgba(150, 150, 150, 0.36);
  background: var(--theme-primary);;
  border: 1px solid var(--theme-primary);;
  color: var(--theme-white);
  cursor: pointer;
  margin-top: 2rem;
}

.btn:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 20px;
  height: 1px;
  width: 0;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
  background: var(--theme-white);
}

.btn:hover:before {
  width: 30px;
}

.btn:hover {
  padding-left: 60px;
}

.section-title {
  position: absolute;
  top: 25%;
  left: 20%;
  right: 20%;

  h2 {
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    color: var(--theme-white);
    position: relative;
    padding-bottom: 30px;

    .important {
      color: var(--theme-primary);
    }

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: -50px;
      left: 0;
      width: 50px;
      height: 6px;
      background: rgba(255, 255, 255, 0.071);
      border: 1px solid rgba(255, 255, 255, 0.11);
    }
  }
}

#mobile-version {
  display: none;
}

@media only screen and (max-width: 1400px) {
  .content {
    position: absolute;
    top: 30%;
    left: 10%;
    right: 10%;
  }
  #left {
    margin-bottom: -50px;
  }
}

@media only screen and (max-width: 1600px) {
  .content {
    position: absolute;
    top: 35%;
    left: 15%;
    right: 15%;
  }
  #left {
    margin-bottom: -50px;
  }
}

@media only screen and (max-width: 1000px) {
  #products-header {
    display: none;
  }
  #mobile-version {
    display: block;
    background: var(--theme-standard-bg);
    padding: 15px;

    .article {
      margin-top:20px;
      background: var(--theme-white);

      .title-article {
        padding: 15px;
        background: var(--theme-dark);
        color: #8b8b8b;
        font-weight: 600;
        font-size: 13px;
        text-transform: uppercase;
        letter-spacing: 2px;
      }
      .content-article{
        padding:15px;
        text-align: justify;
      }
    }
  }
  .section-subtitle {
    text-transform: uppercase;
    font-weight: 900;
    font-family: 'Titillium Web', sans-serif;
    top: 30px;
    right: 15px;
    opacity: 1;
    color: var(--theme-primary);
    font-size: 20px;
    text-align: right;
  }
}
