<section id="products-header">
  <div id="left">
    <div class="horizontal-subtitle">
      <span>Nos produits</span>
    </div>
  </div>
  <div id="right">
    <img src="assets/images/contact_2.jpg" alt="">
    <button class="btn" (click)="goTo()">Voir les produits</button>
  </div>
  <div class="section-title">
    <h2><span class="important">Le belt squat</span></h2>
  </div>
  <div class="content">
    <p>
      Il existe un exercice qui permet de développer ses cuisses de façon optimale sans apporter la moindre contrainte
      sur le dos, il s’agit du Belt squat.<br/>
      Pendant plus d’un an, nous avons travaillé sur la conception d’un belt squat qui permettrait de travailler les
      cuisses dans les meilleures conditions mais surtout, qui pourrait être utilisable par n’importe qui et n’importe
      où.<br/><br/>
      Il peut être utilisé facilement en home gym, peut s’adapter sur n’importe quelle barre (il suffit d’un repose
      barre et d’une barre), il est conçu de façon à être tout aussi efficace, voir plus efficace qu’un gros belt
      squat comme on pourrait retrouver dans les grosses salles du musculation américaine.<br/><br/> il est
      robuste, il ne prend que peu de place et il va permettre à n’importe qui (qu’on squat 50 ou 300kg) de
      progresser sur les cuisses.
    </p>
  </div>
</section>

<section id="mobile-version">
  <div class="section-subtitle">Nos produits</div>

  <div class="article">
    <div class="title-article">Le belt squat</div>
    <img src="assets/images/contact_2.jpg" alt="">
    <div class="content-article">
      <p>
        Il existe un exercice qui permet de développer ses cuisses de façon optimale sans apporter la moindre contrainte
        sur le dos, il s’agit du Belt squat.<br/>
        Pendant plus d’un an, nous avons travaillé sur la conception d’un belt squat qui permettrait de travailler les
        cuisses dans les meilleures conditions mais surtout, qui pourrait être utilisable par n’importe qui et n’importe
        où.<br/><br/>
        Il peut être utilisé facilement en home gym, peut s’adapter sur n’importe quelle barre (il suffit d’un repose
        barre et d’une barre), il est conçu de façon à être tout aussi efficace, voir plus efficace qu’un gros belt
        squat comme on pourrait retrouver dans les grosses salles du musculation américaine.<br/><br/> Il est
        très robuste, il ne prend que peu de place et il va permettre à n’importe qui (qu’on squat 50 ou 300kg) de
        progresser sur les cuisses.
      </p></div>
  </div>
</section>
