
.no-fill {
  width: 100%;
  max-width: 1024px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  text-align: center;
  padding-top: 100px;

  i {
    font-size: 65px;
    margin-bottom: 35px;
  }

  span {
    cursor: pointer;
    transition: var(--transition-smooth);
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--theme-primary);
    font-weight: 600;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-bottom: 1px solid var(--theme-primary);

    &:hover {
      color: var(--theme-blue-clear);
      border-bottom: 1px solid var(--theme-blue-clear);
    }
  }
}
