<div class="wrapper">
    <label for="input">{{config.translateKey + 'label.' + config.name | translate}}</label>
    <ng-container *ngIf="config.type !=='gender' && config.type !=='select' && config.type !=='phone' ;else select">
        <input id="input" [type]="config.type"
               [placeholder]="config.translateKey +'placeholder.'+config.name | translate"
               [formControl]="config.formControl" (blur)="onBlur.emit()"/>
    </ng-container>
    <ng-template #select>
      <ng-container *ngIf="config.type ==='select';else phone">
        <select name="" id="" [formControl]="config.formControl">
            <option *ngFor="let option of config.data" value="{{option.id}}">{{option.str}}</option>
        </select></ng-container>
      <ng-template #phone>
        <div class="input">
          <div class="chooser">
            <div class="selected" (click)="show=!show" [class.rad]="show"><img class="flag" [src]="phoneCountryFlag" alt="">{{phoneCountryCode}}</div>
            <div class="choose" [class.hide]="!show">
              <div class="opt" (click)="setCode('+32')"><img class="flag" src="assets/flag/be.svg" alt="">+32</div>
              <div class="opt" (click)="setCode('+33')"><img class="flag" src="assets/flag/fr.svg" alt="">+33</div>
              <div class="opt" (click)="setCode('+49')"><img class="flag" src="assets/flag/de.svg" alt="">+49</div>
              <div class="opt" (click)="setCode('+31')"><img class="flag" src="assets/flag/nl.svg" alt="">+31</div>
              <div class="opt" (click)="setCode('+352')"><img class="flag" src="assets/flag/lu.svg" alt="">+352</div>
            </div>
          </div>
          <input [type]="config.type"
                 [placeholder]="config.translateKey +'placeholder.'+config.name | translate"
                 [(ngModel)]="phoneValue" (ngModelChange)="patchValue()"/>
        </div>

      </ng-template>
    </ng-template>
</div>
