
.loading-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .loading {
    border: 1px solid var(--theme-ee);
    gap: 15px;
    display: flex;
    flex-direction: row;
    background: var(--theme-white);
    height: 40px;
    align-items: center;
    text-transform: uppercase;
    color: var(--theme-label-text);
    font-size: 13px;
    padding: 20px;

    i {
      width: 25px;
      height: 25px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 18px;
      color: var(--theme-primary)
    }
  }
}

.content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;
}

.choose {
  flex: 1;
  flex-basis: 32%;
  border: 1px solid var(--theme-dark-clear);
  padding: 10px;
  font-size: 12px;
  cursor: pointer;
  transition: var(--transition-smooth);

  &:hover {
    background: var(--theme-standard-bg-hover);
  }
}

.choosed {
  border: 1px solid var(--theme-primary);
  color: var(--theme-primary);
}

.btn-area {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  gap:3rem;
  input{
    flex:2;
    padding: 7px;
    border: 1px solid var(--theme-dark-clear);
  }
  button {
    max-width:250px;
    margin-top: 15px;
    background: var(--theme-dark-bg-pan);
    border: 1px solid var(--theme-dark-bg-pan);
    color: var(--theme-white);
    padding: 10px;
    font-family: "FigtreeSemiBold";
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    cursor: pointer;
    transition: var(--transition-smooth);

    &:hover {
      color: var(--theme-dark-bg-pan);
      background: var(--theme-standard-bg);
      border: 1px solid var(--theme-standard-bg);
    }

  }
}  .line {
     display: flex;
     flex-direction: row;
     gap: 10px;
     width: 100%;
     border-bottom: 1px solid var(--theme-dark-clear);

     .total {
       flex: 2;
     }

     .description {
       flex: 2;
       padding: 5px;
       padding-bottom: 10px;
     }

     .product {
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: flex-start;
       text-transform: uppercase;
       letter-spacing: 2px;
       height: 40px;
       color: var(--theme-primary);
     }

     .price {
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: flex-end;
       padding: 5px;
       height: 40px;
     }

     .delete {
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       height: 40px;
       width: 40px;
     }
   }

.nobt {
  border-bottom: none;
  margin-top:15px;

  .total {
    text-transform: uppercase;
    letter-spacing: 2px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }
}
.smaller{
  font-size:10px;
}
.column{
  display: flex;
  flex-direction: column;
  gap:10px;
  .content{
    padding-bottom:10px;
  }
}

.little-title{
  text-transform: uppercase;
  font-family: "FigtreeSemiBold";
}
