<div id="wrapper" *ngIf="!(loading$| async)">
    <div class="form">
        <div class="logo"><img src="assets/icon.png" alt=""></div>
        <div class="title">{{'page.signup.title'|translate}} <span
                class="clean">{{'common.app-name' | translate}}</span></div>
        <div class="form-area" [formGroup]="formGroup">
            <div class="top-area area">
                <input class="floating-input" type="text" placeholder=" " (focus)="userNameFocus=true"
                       (blur)="userNameFocus=false" formControlName="username" autocomplete="new-password">
                <label class="floating-label"
                       [class.fixed-label]="userNameFocus || payload.username.length >0">{{'page.signup.label.username' | translate}}</label>
            </div>
            <div class="middle-area area">
                <input class="floating-input" [type]="passwordType" (focus)="passwordFocus=true"
                       (blur)="passwordFocus=false"
                       formControlName="password" autocomplete="new-password">
                <div class="icon" (click)="showPassword()">
                    <i class="fa-solid fa-eye"></i>
                </div>
                <label class="floating-label"
                       [class.fixed-label]="passwordFocus|| payload.password.length >0">{{'page.signup.label.password' | translate}}</label>
            </div>
            <div class="bottom-area area">
                <input class="floating-input" type="text" (focus)="codeFocus=true"
                       (blur)="codeFocus=false"
                       formControlName="code" autocomplete="new-password">
                <div class="icon" (click)="signup()">
                    <i class="fa-solid fa-user-plus"></i>
                </div>
                <label class="floating-label"
                       [class.fixed-label]="codeFocus|| payload.code.length >0">{{'page.signup.label.code' | translate}}</label>
            </div>
        </div>
        <app-link-part [page]="pageEnum.SIGNUP"></app-link-part>
    </div>
</div>
<div class="footer">
    Copyright © 2023 Studerd.io Tous droits réservés.
</div>
