<div class="main-wrapper">
  <div class="left">
    <div class="part first"></div>
    <div class="part second"></div>
    <div class="part third"></div>
  </div>
  <div class="right">
    <div class="my-form">
      <h1><span class="important">Nous</span> contacter</h1>
      <div class="formula" [formGroup]="formGroup">
        <div class="input">
          <i class="fa-solid fa-address-card"></i>
          <input type="text" placeholder="Entrez votre nom et prénom *" formControlName="name"/>
        </div>
        <div class="input">
          <i class="fa-solid fa-at"></i>
          <input type="email" placeholder="Entrez votre email *" formControlName="mail" />
        </div>
        <div class="input">
          <i class="fa-solid fa-phone"></i>
          <input type="phone" placeholder="Entrez votre numéro de téléphone"  formControlName="phone" />
        </div>
        <div class="input">
          <i class="fa-solid fa-message"></i>
          <textarea placeholder="Votre message ici *" cols="40" rows="3"  formControlName="message"></textarea>
        </div>
        <div class="error" *ngIf="error.length >0">{{error}}</div>
        <div class="message" *ngIf="message.length >0">{{message}}</div>
        <div class="btn-area"><button (click)="submit()">Envoyer mon message</button></div>
      </div>
    </div>
  </div>
</div>
