.button-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  font-size: 18px;

  span {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .un-clickable {
    color: var(--theme-aaa);
  }
  button {
    cursor: pointer;
    transition: var(--transition-smooth);
    padding: 10px;
    text-transform: uppercase;
    font-weight: 500;
    width: 100%;
    text-align: center;
    letter-spacing: 2px;
    font-size: 11px;

    background: var(--theme-dark);
    border: 1px solid var(--theme-dark);
    color: var(--theme-standard-footer-bg);

    &:hover {
      border: 1px solid var(--theme-label-text);
      background: var(--theme-white);
      color: var(--theme-label-text);
    }
  }
}
.line-add{
  display: flex;
  flex-direction: row;gap:10px;
  input{
    flex:1;
  }
}
.no-fill {
  width: 100%;
  max-width: 1024px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  text-align: center;
  padding-top: 100px;

  i {
    font-size: 65px;
    margin-bottom: 35px;
  }

  span {
    cursor: pointer;
    transition: var(--transition-smooth);
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--theme-primary);
    font-weight: 600;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-bottom: 1px solid var(--theme-primary);

    &:hover {
      color: var(--theme-blue-clear);
      border-bottom: 1px solid var(--theme-blue-clear);
    }
  }
}

.form {
  width: 100%;
  max-width: 1024px;
  margin: auto;
  padding: 1.5rem;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.form-data {
  border: 1px solid var(--theme-dark-clear);
  flex: 2;

  padding: 1rem;
}

.title {
  text-transform: uppercase;
  color: var(--theme-standard-write);
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 20px;
}
.sub-title{
  text-transform: uppercase;
  color: var(--theme-standard-write);
  font-weight: 500;
  font-size: 14px;
  margin-top:40px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 10px;
}
.listing {
  flex: 1;
  border: 1px solid var(--theme-dark-clear);
  font-size: 12px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 10px;

  .list {
    flex: 3;
  }


  .line {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    border-bottom: 1px solid var(--theme-eee);

    .total {
      flex: 2;
    }

    .option-line {
    }

    .description {
      flex: 2;
      padding: 5px;
      padding-bottom: 10px;
      text-transform: uppercase;
      font-size: 12px;
      letter-spacing: 2px;
    }

    .product {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      text-transform: uppercase;
      letter-spacing: 2px;
      color: var(--theme-primary);
    }

    .price {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      padding: 5px;
    }

    .delete {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 40px;
      width: 40px;
    }
  }

  .line-total {
    color: var(--theme-primary);
    border: none;
  }

  .cost {
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px;
  }

  .smaller {
    font-size: 10px;
  }
}


.fil {
  height: 60px;
}

.invalid {
  margin-bottom: 10px;
  background: var(--theme-primary);
  padding: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 11px;
  color: var(--theme-white);
}

.formula {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 25px;

  .line {
    display: flex;
    flex-direction: row;
    gap: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid var(--theme-eee);

    app-input-detail {
      flex: 1;
    }



    button {
      cursor: pointer;
      transition: var(--transition-smooth);
      padding: 10px;
      text-transform: uppercase;
      font-weight: 500;
      width: 100%;
      text-align: center;
      letter-spacing: 2px;
      font-size: 11px;

      background: var(--theme-dark);
      border: 1px solid var(--theme-dark);
      color: var(--theme-standard-footer-bg);

      &:hover {
        border: 1px solid var(--theme-label-text);
        background: var(--theme-white);
        color: var(--theme-label-text);
      }
    }
  }

  .nobt {
    border-bottom: none;
  }
}

.is-invalid {
  border: 2px solid var(--theme-primary);

  .title {
    color: var(--theme-primary)
  }
}

.addresses {
  flex: 2;
  border: 1px solid var(--theme-dark-clear);
  min-width: 350px;
  padding: 1rem;
  gap: 20px;

  .address {
    margin-bottom: 30px;
    cursor: pointer;
    transition: var(--transition-smooth);

    &:hover {
      background: var(--theme-standard-bg-hover);
    }
  }

  button {
    margin-top: 15px;
  }
  .line {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

    .data {
      flex: 2;

      .address-title {
        color: var(--theme-primary);
        letter-spacing: 1.5px;
        text-transform: uppercase;
      }

      display: flex;
      flex-direction: column;
      gap: 5px;
    }

    .check,.trash {
      display: flex;
      padding: 10px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}

.selected {
  border: 1.5px solid var(--theme-dark);
  color: var(--theme-dark);
  font-size: 12px;
  padding-left: 10px;
  padding-right: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: default;
}

.input-wrapper {
  text-transform: uppercase;
  letter-spacing: 1.2px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 12px;

  input {
    border: 1px solid var(--theme-aaa);
    padding: 10px;
  }
}

.explain {
  border: 1px solid var(--theme-aaa);
  color: var(--theme-label-text);
  font-size: 10px;
  padding: 10px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}

.address {
  margin-top: 20px;

  .line {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 10px;
    justify-content: center;
    align-items: center;

    .data {
      flex: 2;
      display: flex;
      flex-direction: column;gap:10px;
    }
  }
}

@media screen and (max-width: 800px) {
  .form {
    width: 100%;
    max-width: 1024px;
    margin: auto;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .listing {
    border: none;
  }
  .form-data {
    border: 1px solid var(--theme-white);
  }
  .listing {
    button {
      cursor: pointer;
      transition: var(--transition-smooth);
      padding: 10px;
      text-transform: uppercase;
      font-weight: 500;
      width: 100%;
      max-width: 254px;
      text-align: center;
      letter-spacing: 2px;
      font-size: 11px;
    }
  }
}

.hover{
  cursor: pointer;
  transition: var(--transition-smooth);
  border:1px solid var(--theme-eee);
  &:hover {
    background: var(--theme-standard-bg-hover);
  }
}
